@import url('https://fonts.googleapis.com/css?family=Montserrat|Abel|Amiri|Comic+Neue|Lato|Roboto&display=swap');

:root {
	--primary-color: rgb(197, 109, 109);
	--Montserrat: 'Montserrat', sans-serif;
	--Roboto: 'Roboto, sans-serif';
	--Lato: 'Lato', sans-serif;
	--ComicNueue: 'Comic Neue', cursive;
	--Abel: 'Abel', sans-serif;
	--Amiri: 'Amiri', serif;
	--fade-black: rgb(48, 46, 46);
}

.montserrat {
	font-family: var(--Montserrat);
}

.product-banner {
	background-image: url('/webImages/whiteBg.jpg');
	background-repeat: round;
	background-size: cover;
	/* background: linear-gradient(white, var(--primary-color)); */
	/* background: -moz-linear-gradient(white, var(--primary-color)); */
	/* background: -webkit-linear-gradient(white, var(--primary-color)); */
	height: 530px;
}

/* .product-banner h2 {
	color: whitemsoke;
} */

.product-banner h5.text-center {
	font-family: var(--Montserrat);
	font-size: 32px;
}

.definitionText {
	width: 65%;
	/* border: 1px solid white; */
	margin: 2em auto;
	padding: 2em;
}

.definitionText h5 {
	font-family: var(--Roboto);
	text-align: center;
	font-size: 24px;
}

.definitionText p {
	font-family: var(--Roboto);
	font-size: 28px;
	color: rgb(7, 7, 73);
}

/* .webDiv {
	width: 100%;
	display: flex;
	justify-content: center;
} */

.webDiv img {
	width: 40%;
	height: 350px;
	z-index: 2;
}

.container-1 {
	padding: 1.5em 1em 1.5em 20em;
	/* background: green; */
}

.cap4 {
	font-family: var(--Montserrat);
	text-transform: uppercase;
	font-weight: bold;
	font-style: oblique;
}

.container-1 h6 {
	font-size: 38px;
	font-family: var(--Abel);
}

.text-normal {
	font-family: var(--ComicNueue);
	font-size: 18px;
	/* font-weight: 300px; */
}

.getStarted-btn {
	background-color: var(--primary-color);
	padding: 1em;
	border-radius: 1em;
	color: white;
}

.getStarted-btn:hover {
	text-decoration: none;
	color: white;
}
.marginY-2 {
	margin-top: 2em;
	margin-bottom: 2em;
}

.marginTop-10 {
	margin-top: 10em !important;
}

.x-center {
	margin: 0 auto;
}

.container-1 .flex {
	display: flex;
	flex-direction: row;
}

.highlights img {
	height: 80px;
}

.highlights p {
	padding: 5px;
	font-family: var(--Abel);
	font-weight: 500;
}

.highlights p:last-child {
	font-family: var(--Montserrat);
	color: #6096fd;
	/* font-weight: bold; */
}

.companies h5 {
	font-family: var(--Lato);
	font-size: 20px;
	font-weight: bold;
	color: #403f3e;
}

.companies .flex {
	justify-content: space-evenly;
}

.flex .company-img {
	width: 100px;
	height: 50px;
	margin: 0 1.5em;
}

/* ===== SMALL SCREENS: SMALL AND BIG PHONES ===== */
@media (min-width: 100px) and (max-width: 767px) {
	.product-banner {
		height: 380px;
		max-width: 100%;
		/* padding: 1.4em; */
	}
	.product-banner .pandemic h2 {
		font-size: 12px;
	}
	.definitionText {
		padding: 1em;
		width: 80%;
		margin: 3em 0;
	}

	.definitionText h5 {
		font-size: 13px;
		font-weight: bold;
	}

	.definitionText p {
		font-size: 16px;
		text-align: justify;
	}

	.container-1 {
		padding-left: 1.5em;
		/* background-color: yellow; */
		/* width: 100vw; */
	}

	.container-1 h6 {
		font-size: 24px;
		margin-bottom: 1.5em;
	}

	.companies .flex {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.companies h5 {
		font-size: 14px;
		width: 100%;
		line-height: 1.5em;
	}

	.flex .company-img {
		margin-bottom: 1em;
	}

	.highlights div {
		/* background: yellow; */
		width: 100%;
	}

	.highlights img {
		width: 50px;
		height: 100px;
	}
}

/* ===== END OF SMALL SCREENS: SMALL AND BIG PHONES ===== */

/* ===== Medium Screens: Tablets and Ipads ===== */
@media (min-width: 768px) and (max-width: 1023px) {
	.definitionText {
		margin: 2em 2em;
	}
	.container-1 {
		padding-left: 2em;
	}

	.container-1 h6 {
		margin-bottom: 1.5em;
	}
}

/* ===== End of Medium Screens: Tablets and Ipads ===== */

/* ===== WIDE SCREENS: Ipad Pro and Mini Laptop ===== */
@media (min-width: 1024px) and (max-width: 1279px) {
	.definitionText {
		margin: 2em 2em;
	}
	.container-1 {
		padding-left: 2em;
	}
}
