@import url('https://fonts.googleapis.com/css?family=Abel|Amiri|Comic+Neue|Lato|Roboto&display=swap');

:root {
	--primary-color: rgb(197, 109, 109);
	--Roboto: 'Roboto, sans-serif';
	--Lato: 'Lato', sans-serif;
	--ComicNueue: 'Comic Neue', cursive;
	--Abel: 'Abel', sans-serif;
	--Amiri: 'Amiri', serif;
	--fade-black: rgb(48, 46, 46);
}

.accessControl .titleBar p {
	font-family: var(--Roboto);
	color: var(--primary-color);
	font-weight: bold;
}

.accessControl li {
	list-style: none;
}

.accessControl .titleBar a {
	color: black;
	font-family: var(--Abel);
}

.accessControl .productListing {
	font-family: var(--Abel);
	color: black;
}

.accessControl .productListing:hover {
	background-color: whitesmoke;
}

.accessControl .pageBottom {
	margin-top: 10vh;
}

/* ===== AddNewDept Component Styling ===== */

.newDeptPanel {
	margin: 7vh 20vh;
	padding: 5% 10% 7% 10%;
}

.newDeptPanel Form {
	margin: 10% 10%;
}

/* ===== End of AddBewDept Component Styling ===== */
